@font-face {
  font-family: 'crisico';
  src:
    url('fonts/crisico.woff2') format('woff2'),
    url('fonts/crisico.ttf') format('truetype'),
    url('fonts/crisico.woff') format('woff');
  /* url('fonts/crisico.svg?akf21g#crisico') format('svg') */
  font-weight: normal;
  font-style: normal;
}

[class^="crisico-"], [class*=" crisico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'crisico' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.crisico-facebook:before {
  content: "\ea91";
}
.crisico-twitter:before {
  content: "\ea96";
}
.crisico-linkedin:before {
  content: "\eac9";
}
.crisico-github:before {
  content: "\eab0";
}
.crisico-plus:before {
  content: "\ea8d";
}
.crisico-rss:before {
  content: "\ea9b";
}

@-webkit-keyframes fadein {
 0%   { opacity: 0; }
 100% { opacity: 1; }
}
@-moz-keyframes fadein {
 0%   { opacity: 0; }
 100% { opacity: 1; }
}
@-o-keyframes fadein {
 0%   { opacity: 0; }
 100% { opacity: 1; }
}
@keyframes fadein {
 0%   { opacity: 0; }
 100% { opacity: 1; }
}
