* {
	padding: 0;
	margin: 0;
}
/* Basic Typography */
html, body {
	font-size: 1em;
	line-height: 1.65em;
	font-family: "Arial", "Helvetica", sans-serif;
	font-weight: 300;
	color:#3e483c; /* crispy#444444 */
}
html {
	height: 100%;
}
body {
	background-color: #fdfffc; /* crispy#fdfffc */
	padding: 2em 2.5em 1em 17.7em;
}
/* Blocks */
header {
	border-right: 1px solid #e4eee2; /* crispy#eeeeee */
	padding: 2em;
	position:fixed;
	top: 0;
	left: 0;
	height:100%;
	width:11.2em;
}
header p {
	margin-top: 1.2em;
}
#content {
	padding-top: 0em;
	display: block;
	width: 100%;
}
footer {
	padding: 1em 0em 2.5em 0em;
	font-size:0.8em;
	line-height: 1.5em;
	color: #818b7e; /* crispy#888888 */
}
article {
	border-bottom: 0.1em solid #e4eee2; /* crispy#eeeeee */
	padding-bottom: 1.7em;
	max-width: 56em;
}
p, hr, h4, h5, h6 {
	margin-top: 0.9em;
	margin-bottom: 0.9em;
}
time {
	font-style: italic;
	color: #818b7e; /* crispy#888888 */
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-family: "Georgia", "Palatino", serif;
	font-weight: 400 !important;
}
h1 {
	font-size: 2.5em;
	line-height: 1.1em;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}
h2 {
	font-size:1.9em;
	line-height: 1.2em;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}
h3 {
	font-size:1.4em;
	line-height: 1.3em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}
h4 {
	font-size:1.3em;
}
h5 {
	font-size:1.2em;
}
h6 {
	font-size:1.1em;
}
/* Page Elements */
img, iframe {
	max-width: 100%;
}
a {
	font-weight:700;
	text-decoration:none;
	color: #24890d; /* crispy#24890d */
}
a:hover {
	text-decoration:underline;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight:400 !important;
}
strong {
	font-weight: 700;
}
blockquote {
	border-left: 0.5em solid #e4eee2; /* crispy#eeeeee */
	padding-left: 0.5em;
	margin-left: 0.5em;
	font-size: 0.95em;
}
hr{
	border: 0;
	height: 1px;
	background: #e4eee2; /* crispy#eeeeee */
}
ul, ol {
	margin-left: 3em;
}
code {
	font-size: 1.3em;
	background: #e4eee2; /* crispy#eeeeee */
	font-weight: lighter;
	padding: 0 0.2em;
	border-radius: 0.2em;
	border: 1px solid #d4ded1; /* crispy#dddddd */
}
pre {
	font-size: 0.9em;
	padding: 1em;
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}
input {
	font-size:1em;
	padding: 0.3em;
}
/* Sidebar */
header h1 {
	font-size:1.9em;
	margin-top:0.8em;
	margin-bottom:0.6em;
}
header h1 a {
	color:#3e483c; /* crispy#444444 */
}
header h1 a:hover {
	text-decoration:none;
}
header #logo img {
	width:9em;
	height:9em;
	border-radius:4.5em;
	-moz-border-radius: 4.5em;
	-webkit-border-radius: 4.5em;
	border: none;
}
#follow-icons {
	margin-top: -0.7em;
	margin-bottom: 1.5em;
	height: 28px;
	line-height: 28px;
}
#follow-icons a {
	margin-right: 0.7em;
	color: #c3cdc1; /* crispy#cccccc */
	-webkit-animation: fadein 1.359s linear; /* Safari 4+ */
		-moz-animation:    fadein 1.359s linear; /* Fx 5+ */
		-o-animation:      fadein 1.359s linear; /* Opera 12+ */
		animation:         fadein 1.359s linear; /* IE 10+, Fx 29+ */
}
#follow-icons span {
	vertical-align:top;
}
#follow-icons span .fa-stack-1x {
	font-size:1.05em;
	line-height:1.9em;
}
header h6 {
	margin-top:0.5em;
}
header h6 a {
	list-style: none;
	display: inline;
}
header h6 a:after {
	content: " \2022";
}
header h6 a:last-child:after {
	content: none;
}
/* Posts */
article span.post-stamp {
	color:#818b7e; /* crispy#888888 */
}
h1.post-title {
	margin-top: 0;
	margin-bottom: 0.6em;
}
h3.post-title {
	margin-top:0em;
	padding-bottom:0.9em;
	border-bottom: 1px solid #e4eee2; /* crispy#eeeeee */
	font-size: 1.2em;
	color: #3e483c; /* crispy#444444 */
}
.post-title .feature-star {
	font-size: 0.9em;
}
.separator, .taglist, .feature-star {
	color: #c3cdc1; /* crispy#cccccc */
}
.taglist a {
	background-color:#c3cdc1; /* crispy#cccccc */
	color:#fdfffc; /* crispy#fdfffc */
	display: inline-block;
	line-height: 1.5em;
	padding:0.2em 0.4em 0.1em;
	vertical-align:20%;
	font-size:0.5em;
	font-family: "Arial", "Helvetica", sans-serif;
	font-weight: 700 !important;
	text-transform:uppercase;
	letter-spacing:0.05em;
	border-radius:0.25em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
}
#social-bar {
	margin-top:1.5em;
	background-color:#e4eee2; /* crispy#eeeeee */
	padding:0.5em;
}
#comments {
	margin-top: 0.15em;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #e4eee2; /* crispy#eeeeee */
}
/* Footer */
.pagination {
	margin-bottom:1em;
}
footer a {
	font-weight:300;
	color:#818b7e; /* crispy#888888 */
	text-decoration: underline;
}
footer a:hover {
	color:#3e483c; /* crispy#444444 */
	text-decoration: none;
}
/* Large Screens */
@media only screen and (min-width: 1281px) {
	html, body {
		font-size: 1.1em;
	}
}
/* Small Screens */
@media only screen and (max-width: 800px) {
	body {
		padding:0;
		background-color: #fdfffc; /* crispy#fdfffc */
	}
	p, hr, h4, h5, h6 {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	h3.post-title {
		margin-bottom: 0.5em;
		padding-bottom: 0.7em;
	}
	header {
		border-right: none;
		position:relative;
		height:auto;
		width:auto;
		text-align:center;
		padding:0;
	}
	header #logo img {
		padding-top: 1.2em;
		margin-bottom: -1em;
	}
	header h6 {
		color: #fdfffc; /* crispy#fdfffc */
		background-color: #24890d; /* crispy#24890d */
		line-height: 1.65em;
		height: 1.72em;
	}
	header h6 a {
		color: #fdfffc; /* crispy#fdfffc */
	}
	header, #follow-icons {
		margin-bottom:0.5em;
	}
	#follow-icons a {
		margin-left: 1em;
		margin-right: 1em;
	}
	header p {
		margin: 1em 1em 0 1em;
	}
	#content {
		margin-left: 0;
		padding: 0.5em 1.5em 0.1em 1.5em;
		width: auto;
	}
	footer {
		padding: 0 2.5em 2em 2.5em;
	}
}
/* Tiny Screens */
@media only screen and (max-width: 320px) {
	header {
		padding: 1.2em 1.2em 0.6em 1.2em;
	}
	#content {
		padding: 1.2em 1.2em 0.6em 1.2em;
	}
	footer {
		padding: 0 1.5em 1.2em 1.5em;
	}
	ul, ol {
		margin-left: 2em;
	}
}

div.highlight {
	border-radius: 2px;
}
