<div id="follow-icons">
  {{ if .Site.Social.facebook }}<a href="{{ .Site.Social.facebook }}" rel="me"><i class="icon-facebook2"></i></a>{{ end }}
  {{ if .Site.Social.twitter }}<a href="{{ .Site.Social.twitter }}" rel="me"><i class="icon-twitter"></i></a>{{ end }}
  {{ if .Site.Social.linkedin }}<a href="{{ .Site.Social.linkedin }}" rel="me"><i class="icon-linkedin"></i></a>{{ end }}
  {{ if .Site.Social.github }}<a href="{{ .Site.Social.github }}" rel="me"><i class="icon-github"></i></a>{{ end }}
  {{ if .Site.Social.plus }}<a href="{{ .Site.Social.plus }}" rel="me"><i class="icon-google-plus3"></i></a>{{ end }}
  <a href="{{ .Site.BaseURL }}index.xml" rel="me"><i class="icon-rss"></i></a>
</div>
